*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.main{
    background-color: #0f0D0D;
}
.page1{
    min-height: 100vh;
    width: 100vw;
}
#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav img{
    height: 26px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffff;
}
#nav h4{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom:1.5px solid white;
}

.page1 h1{
    font-size: 7vw;
    font-family: PP mori;
    font-weight: 300;
    margin-top: 12vw;
    margin-left: 6vw;
}
.page1 h2{
    font-size: 7vw;
    font-family: PP mori;
    font-weight: 300;
    margin-left: 26vw;
}
.page1 video{
    width: 60%;
    margin-top:10vw;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
} 
.page2{
    min-height: 80vh;
    width: 100vw;
    padding: 100px 5vw;
    border-bottom: 2px solid black;
}
.page2 h1{
    font-size: 7vw;
    font-family: pp mori;
    font-weight: 400;
    color: #111;
}
.page2-container{
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    width: 38%;

}
.page2-right{
    width: 24%;

}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    font-family: pp mori;
    text-transform: uppercase;
    color: #111;
    line-height: 4vw;
    
}
.page2-right p{
    font-size: 28px;
    font-family: pp mori;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border:none;
    padding: 4px 0;
    background-color: #EDBFFF ;
    text-transform: uppercase;
    color:#0f0D0D;
    margin-top: 20px;
}
.page3{
    min-height: 160vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
    width: 100vw;
    padding: 100px 5vw;
    border-bottom: 2px solid black;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
    margin-right:390px;
    width: 100%;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}

.page3-part3 {
    display: flex;
    height: 90vh;
    padding: 80px 80px;
    margin-top:  50px;
    justify-content: space-between;
    border-bottom: 2px solid black;
}


.page3-part3 h1{
    font-size: 7vw;
    font-family: pp mori;
    font-weight: 300;

}

.page3-part3 button{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #EDBFFF;
    margin-left: 400px;
}
